<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">USERS MANAGEMENT</h1>
</div>
<div class="container" ng-controller="UsersListController">
    <div class="wrapper-md">
        <!-- toaster directive -->
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <!-- / toaster directive -->
        <div class="col-md-12 column">
            <div class="panel panel-default">              
                <div class="panel-heading">
                    <button class="btn m-b-xs btn-md btn-info btn-addon ng-pristine ng-valid ng-touched" ng-click="createUser()"><i class="fa fa-plus"></i>Create</button>                                
                    <button class="btn m-b-xs btn-md btn-info btn-addon ng-pristine ng-valid ng-touched" ng-click="clickMenuAccess()"><i class="fa fa-align-justify"></i><span translate="aside.nav.components.pages.USERACCESS">Assign Menu Access</span></button>                                
                    <button class="btn m-b-xs btn-md btn-info btn-addon ng-pristine ng-valid ng-touched" ng-click="clickHotelAccess()"><i class="fa fa-home"></i><span translate="aside.nav.components.pages.USERHOTEL">Assign Hotels</span></button>                                
                    <button class="btn m-b-xs btn-md btn-info btn-addon ng-pristine ng-valid ng-touched" ng-click="clickCatalogAccess()"><i class="fa fa-cubes"></i>Catalog Item Access</button>                                

                </div>
                <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                               <h4 class="modal-title"><span class="glyphicon glyphicon-check"> Please Confirm</h4>
                            </div>
                            <div class="modal-body">
                                <h3>Are you sure you want to delete the selected user?</h3>                     
                                <h4>This step has no return back</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" ng-click="removeUser(currentUsers)" class="btn btn-default" data-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="tbusers" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>SurName</th>
                                <th>Email</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td><span class="badge bg-info">{{ user.ApplicationUserId }}</span></td>
                                <td>{{ user.Name }}</td>
                                <td>{{ user.Surname }}</td>
                                <td>{{ user.Email }}</td>
                                <td>{{ user.Active }}</td>
                                <td>
                                    <button type="button" ng-click="modifyUser(user.ApplicationUserId)" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                    <button type="button" ng-click="selectUser(user.ApplicationUserId)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
